 *{
    margin: 0;
}

.siteHead {
    background-color: rgb(170, 255, 241);
    width: 100%;
    height: 10vh;
}
h1{
    
    padding-top: 25px;
    padding-left: 20px;
}
    
    .box1, .box2, .box3 {
    border: black 1px dashed;
    min-height: 20vh;
    width: 100%;
    /* margin: 0px 15px 20px 15px; */
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.boxes {
  margin: 20px;

}



h2 {
    /* margin-left: 15px; */
    margin-top: 20px;
}

.rec1 {
    height: 80px;
    width: 200px;
    border: red 5px solid;
    background-color: rgb(99, 9, 158);
    float: left;
    margin-top: 100px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.rec2 {
    width: 90px;
    height: 90px;
    background-color: blue;
    margin-top: 97px;
    margin-left: 30px;
    float: left;
    box-shadow: black 5px 5px 7px;
    border: black 2px solid;
    
}

.rec3 {
    width: 180px;
    height: 180px;
    background-color: rgb(250, 114, 166);
    border: black 1px solid;
    float: left;
    margin-left: 30px;
    margin-top: 11px;
}

.box3 {
    display: block;
}


.circle1{
    width: 90px;
    height: 90px;
    border: black 2px solid;
    border-radius: 50%;
    margin-left: 15px;

    
    
}
.circle2{
    width: 105px;
    height: 105px;
    border: black 2px solid;
    border-radius: 50%;
    margin-left: 8px;
    
}
.circle3{
    width: 125px;
    height: 125px;
    border: black 2px solid;
    border-radius: 50%;
    
}


.square1 {
    width: 220px;
    height: 220px;
    border: black 2px solid;
    background-color: lightyellow;
  
}

.round1 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: black 1px solid;
    background-color: green;
}

.square2 {
    width: 110px;
    height: 110px;
    background-color: rgb(223, 55, 55);
    margin-left: 28px;
    margin-top: 29px;
}

.round2 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    
    background-color: rgb(53, 53, 255);
}
 
p {
    position: absolute;
    margin-top: 90px;
    margin-left: 25px;
    color: white;
}

.fish {
    height: auto;
    width: 50px;
    margin-left: 8px;
    margin-top: 12px;
}

.eye1 {
    height: auto;
    width: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
.eye2 {
    height: auto;
    width: 18px;
    margin-left: 25px;
    margin-top: -18px;
}
.carrot {
    height: auto;
    width: 13px;
    margin-left: 15px;
    margin-top: -2px;
    transform: rotate(20deg);
}

.button1 {
    height: auto;
    width: 18px;
    margin-left: 22px;
    margin-top: 4px;
}
.button2 {
    height: auto;
    width: 18px;
    margin-left: 22px;
    margin-top: 5px;
}
.button3 {
    height: auto;
    width: 18px;
    margin-left: 22px;
    margin-top: 6px;
}